# Data and output folders
RecSysData/
datasets/
output/
logs/
results/
checkpoints/
runs/
tmp/
temp/
.cache/
.DS_Store

# Python artifacts
*.pyc
*.pyo
*.pyd
__pycache__/
*.pkl
*.joblib

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

RecSycData/yoochoose/yoochoose-clicks.dat
